@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,500&display=swap');

:root {
    --mini-purple: #7450E9;
    --mini-pink: #FE82A1;
    --mini-yellow: #FED44C;
    --mini-teal: #16DBCC;
    --mini-blue: #396AFF;
    --mini-green: #11CE66;
    --mini-orange: #FE9F7C;
    --mini-lightGray: #EFF2F7;
    --mini-gray: #8492A6;
    --mini-darkGray: #273444;
}

body {
    font-family: 'Poppins', sans-serif;
}

/*GENERAL */
.container {
    display: block;
    max-width:1180px;
    padding:0 20px;
    margin:auto;
}


/* Navigation */

.logo {
    min-width:30px;
    float:left; 
    margin-right:20px;
    padding-top:3px;
}

.logo img {
    width:100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float:left;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: var(--mini-darkGray);
    font-weight:600;
    font-size:14px;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
}
li a:hover {
    color:var(--mini-purple);
}

.dot {
    color:var(--mini-orange);
    margin-left:4px;
}

.dropdown:hover .dropbtn {
    background-color:var(--mini-purple);
    color:white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:var(--mini-purple);
    min-width: 160px;
    z-index: 99;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 0;
    border-radius: 5px;
    border-top-left-radius: 0;
}

.dropdown-content a {
    color: white;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a span {
    display: none;
}

.dropdown-content a:hover {
    color:var(--mini-yellow);
}

.dropdown-content a:hover span {
    display: inline;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.nav {
    position:fixed;
    z-index: 999;
    top:0;
    left:0;
    width:100%;
    padding:20px 0;
    background-color:var(--mini-lightGray); 
}

.buttons {
    display: inline-block;
    float: right;
}

.buttons a {
    display: inline-block;
    float: right;
    color: var(--mini-darkGray);
    font-weight:600;
    font-size:14px;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
}

.signup-btn {
    display: block;
    height:40px;
    width: 145px;
    position:relative;
    background-color: var(--mini-purple);
    border:2px solid var(--mini-darkGray);
    box-sizing: border-box;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align:center;
    margin-left: 20px;
}

.signup-btn-inner {
    position:absolute;
    display: block;
    height:40px;
    width: 145px;
    top:-6px;       
    left:-6px;
    background-color: white;
    border:2px solid var(--mini-darkGray);
    box-sizing: border-box;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align:center;  
    line-height:36px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    }

.signup-btn:hover .signup-btn-inner {
    top:-2px;
    left: -2px;
    color:var(--mini-purple);s
}

.buttons a:hover {
    color: var(--mini-purple);
}

/* Hero */

.main-hero {
    background-color:var(--mini-lightGray);
    padding-top:140px;
    padding-bottom:100px;
}

.h1s {
    text-align: center;
}

.h1s h1 {
    font-size:50px;
    font-weight:800;
    -webkit-text-stroke: 2px var(--mini-darkGray);
    text-stroke: 2px var(--mini-darkGray);
    margin:0;
    padding:0;

}
.top-h1 h1 {
    color:white !important;
}
.bottom-h1 h1 {
    color:var(--mini-purple);
}

.bottom-h1 {
    position:relative;
}

.top-h1 {
    position:absolute;
    width:100%;
    z-index:30;
    top:-5px;
    left:-5px;
}

.main-hero p {
    font-size: 20px;
    display: block;
    margin:auto;
    max-width: 580px;
    line-height: 30px;
    margin-top:30px;
}

.product {
    text-align: center;
    padding:50px 0;

}

.product img {
    width: 80%;
    margin-left:-70px;
}